#lista{
	width: 200px;
	margin: 0 auto;
}

#lista li{ 
	list-style-type: none;
	margin-bottom: 10px;
}

#lista li a{  
	font-size: 18px;
	font-family: Arial;
}


/* 1 - Seletor para o primeiro li - color:red	*/
li:first-child a{
	color:red;
}

/* 2 - Seletor para o href que termine com .br -  color:green	*/

a[href$=".br"]{
	color:green;
}


/* 3 - Seletor para o 4 li - color: blue;	*/

li:nth-child(4) a{
	color:cyan;
	border:solid 1px #000
}